{% load static from staticfiles%}


<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <title>Сервис учета студентов</title>
    <meta name="description"
          value="Система Учета Студентов Учебного Заведения">
    <!--Include Styles-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
  </head>

  <body>

<!--Start Container -->
    <div class="container">
<!--Start Header-->
        <div class="row" id="header">
        <!--Logo-->
            <div class="col-xs-8">
                <h1>Сервис Учета Студентов</h1>
            </div>

        <!--Groups Selectors-->
            <div class="col-xs-4" id="group-selector">
              <strong>Группа:</strong>
              <select>
                <option value="">Все Студенты</option>
                <option value="">МтМ - 11, Иванов Иван (№221)</option>
                <option value="">МтМ - 12, Петров Петр (№222)</option>
              </select>
            </div>
        </div>
<!--END Header-->

<!--Start SubHeader-->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="{% url "home" %}">Студенты</a></li>
                  <li role="presentation"><a href="/journal">Посещение</a></li>
                  <li role="presentation"><a href="{% url "groups" %}">Группы</a></li>
                </ul>
            </div>
        </div>
<!--END SubHeader-->
<!--Start Main Page Content-->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">
                <!--Status Message-->
                <div class="alert alert-warning">Изменения отменены</div>
                <h2>База Студентов</h2>
                <!--Add Student Button-->
                <a class="btn btn-primary" href="{% url 'students_add' %}">Добавить Студента</a>
                <div>
                <!--Start Student Listing-->
                <table class="table table-hover table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Фото</th>
                      <th>Фамилия</th>
                      <th>Имя</th>
                      <th>№ Билета</th>
                      <th>Действия</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><img height="30" width="30" class="img-circle" src="{% static student.image %}"></td>
                        <td><a title="Редактировать" href="{% url 'students_edit' student.id %}">{{student.last_name}}</a></td>
                        <td><a title="Редактировать" href="{% url 'students_edit' student.id %}">{{student.first_name}}</a></td>
                        <td>{{ student.ticket }}</td>
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Действия
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/journal/{{student.id}}">Посещения</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'students_edit' student.id %}">Редактировать</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'students_delete' student.id %}">Видалити</a>
                            </li>

                          </ul>
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">&laquo;</a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">&raquo;</a>
                    </li>
                  </ul>
                </nav>
                </div>
            </div>
        </div>
<!--END Main Page Content-->
<!--Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12" id>
                &copy; 2016 Сервис Учета Студентов
            </div>
        </div>
<!--End Footer -->

<!--END Container -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
  </body>
</html>



















